body {
    margin: 0;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 20px;
}