body {
    margin: 0;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #181a1d;
    width: 100%;
    margin: 0 auto;
    height: 50px;
}

.nav-links {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    align-items: center;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 20px;
}

.nav-link > a {
    text-decoration: none;
    color: #fff;
}

button {
    display: block;
    background-color: #61dafb;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
}

button:active {
    background-color: #6fc0d6;
}